@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .input {
    @apply border border-black rounded-lg p-1;
  }
  .link{
    @apply text-blue-600 hover:text-blue-300 hover:underline ;
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
